.shiro{
    color: #191715;
    
} 

body {
	background-color: antiquewhite;
    text-align: center;

}
h1 {
    color: #191715;
    font-family: 'Caveat', cursive;
}
h2 {
    color: #191715;
    font-family: 'Caveat', cursive;
}
p {
	font-family: 'Kiwi Maru', serif;
}

.active {
    background-color: #c39e9e;
}
.billboard {
	position: absolute;
	top: 14vw;
	left: 31vw;
}
.self-portrait{
    position: absolute;
    top: 17vw;
    left: 35vw;
}
.text-box{
    position: absolute;
    top :25vw;
    left:10vw;
    z-index:-1;
}
.airplane{
	z-index:-1;
}
.flower{
    z-index:-1;
}
.logo{
    position: absolute;
    top: 15vw;
    left:44vw;
}
.contact{
    position:absolute;
    top:5vw;
    left:44vw;
}
.text{
    position: absolute;
    top: 10vw;
    left: 30vw;
}
.email{
    position: absolute;
    top: 25vw;
    left:35vw;
}
